body {
    display: flex; /*pour activer  boîte flexible*/
    justify-content: flex-start;/*aligne le contenu à droite.*/
    align-items: center;
    height: 100vh; /* 100%  de la hauteur  du corps */
    margin: 0;
    padding: 20px;
}

.container {
    margin-right: 15px; /* ajoute espace  à droite du titre  */
    text-align: right; /* Alignement du texte à droite */
    right: 0;
    top:20px
}

h1 {
    font-size: 4em;
}
.top-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 1400px;
    width: 600px;
    margin-left: 100px;
    }
.wrapper {
    position: absolute;
    top: 0;
    left: 0
    text-align: left; 
    padding: 20px; 
    box-sizing: border-box;
}
.sidebar {
    background-color: #f0f0f0; /* Example background color */
    padding: 20px;
}

.sidebar ul li {
    margin-bottom: 10px; /* Adjust spacing between list items */
}


img:hover{
    transform:rotate3d(0,1,0,180deg);
}
